<div class="container-fluid">
  <h3>Discover your next great book!</h3>
  <p>Bookmania is a tool for readers, highlighting the best new books across all genres.</p>
  <h4>Latest Reviews</h4>
  <p>
    Some Reviews
    </p>
</div>
