.book-info {
  justify-content: space-around;
  align-items: center;
}
.book-details {
  max-width: 49%;
  margin-left: 20px;
  vertical-align: center;
}
.book-details > h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 15px 0 0;
  color: #1C1C1C;
  text-align: center;
}
.book-details > h1 {
  font-style: italic;
  text-align: center;
}
.book-details > h4 {
  text-align: center;
}
.book-cover {
  max-width: 49%;
}
